html {
    scroll-behavior: smooth;
}

.footer-hover:hover {
    color: hsl(22, 91%, 62%);
}

@media (max-width: 1022px) {
    #navContact {
        margin-bottom: 1rem !important;
        margin-top: -4px;   
    }
}